/* 
**** COLORS ****
*body-bg : #222061;
*container-bg : #ffffff;
*shoe-type-color: #938784;
*span-color: #c0aea9;
*btn-bg : #ffdc23;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    font-size: 10px;
    font-family: 'lato', Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222061;
}
.container {
    width: 32rem;
    height: 45rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 3rem;
}
.logo {
    width: 5rem;
}
.shoe {
    width: 26rem;
}
.shoe-name {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 3rem;
}
.shoe-type {
    color: #938784;
    letter-spacing: 2px;
    margin: 0.5rem 0 1rem 0;
}
.sizes {
    margin: 1.5rem 0;
}
.sizes > span {
    color: #c0aea9;
    padding: 0.7rem;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: border 0.2s ease-in-out; 
    transition: padding 0.2s ease-in-out; 
    transition: color 0.2s ease-in-out; 
}
.sizes > span:hover {
    border: 2px solid black;
    padding: 0.5rem;
    color: black;
}
.price-and-buy {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 2rem;
}
.price {
    font-size: 2.2rem;
    font-weight: bold;
}
.buy-btn {
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: #ffdc23;
    color: #5f2c4a;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 0px rgba(236, 199, 5);
    transition: box-shadow 0.2s ease-in-out;
}
.buy-btn:hover {
    box-shadow: 0px 2px 8px 0px rgba(236, 199, 5);
}